body{
    margin: 0px;
}
h1{
    font-size: 3rem;
    margin: 0px;
}


/* here heding is start */
#heading{
    background-color: antiquewhite;
}

#shopName{
    text-align: center;
}

/** products ***/
#products{
    display: flex;
}

/** style for every product **/
.product{
    border-style: solid;
    border-color:cadetblue;
    width:400px;
    align-items: center;
    margin: 20px;
}

/**style for product image**/
img{
    width: 300px;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**style for button**/
.btn {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 100px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}

/**style for the division of cart table**/
#cartTableDiv{
    height: 400px;
    border: solid;
    border-color:cadetblue;
}

#cart{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cartHead{
    text-align: center;
}
table,th,td{
    padding-right: 3rem;
}

/**Total Calculation table**/
#tot_table{
    margin-right: 0px;
    margin-left: auto;
}
